.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: burlywood;
}

.buttonbox{
    flex-basis: 100%;
    background-color: blueviolet;
}

.answerbutton {
    height: 50px;
    width: 200px;
    background-color: green;
    color:  white;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;
}

.answerbox {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    gap: 10px 20px;
    padding: 10px;
    background-color: aqua;
}

.answerbox p {
    justify-content: space-evenly;
    width: fit-content;
    padding: 10px;
    background-color: coral;
}