.container {
    display: flex;
    height: fit-content;
    margin: auto;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: center;

}

.buttonbox{
    flex-basis: 100%;
}

.answerbutton {
    height: 50px;
    width: 200px;
    background-color: green;
    color:  white;
    border-radius: 5px;
    border: none;
    outline: none;
    text-align: center;

}

.answerbox {
    /* flex-basis: 100%; */
    flex-flow: row wrap;
    /* gap: 10px 20px; */
    /* padding: 10px; */
    background-color: aqua;
}

.answerbox h3 {
    flex-basis: 30%;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    background-color: coral;
    width: fit-content;
    padding: 10px;
}