.answer {
    justify-content: space-evenly;
    size: 40;
    height: 50px;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.answer:hover {
    background-color: rgb(208, 208, 208);
}

.answercorrect {
    justify-content: space-evenly;
    size: 40;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: rgb(40, 176, 40);
    color: white;
    animation: gradeAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.answercorrect:hover {
    background-color: rgb(28, 127, 28);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* @keyframes gradeAnimation {
    from {
        background-color: rgb(162, 162, 162);
        color: black;
    }
    to {
        background-color:  rgb(40, 176, 40);
        color: white;
    }
} */