.answer {
    justify-content: space-evenly;
    size: 40;
    height: 50px;
    background-color: gainsboro;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 30px;
}

.answercorrect {
    justify-content: space-evenly;
    size: 40;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: rgb(40, 176, 40);
    color: white;
}