.container {
    display: flex;
    height:fit-content;
    margin: auto;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: center;
    /* animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

.numbox {
    flex-basis: 100%;
}

.countrynum {

}

.answerbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    gap: 10px 20px;
    padding: 10px;
    /* animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}