.container {
    display: flex;
    border: 10px solid black;
    height: 60vh;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
}

.numbox {
    background-color: burlywood;
    flex-basis: 100%;
}

.countrynum {
}

.answerbox {
    flex-basis: 100%;
    flex-wrap: nowrap;
    background-color: rgb(34, 123, 123);
}

.answer {
    background-color: gainsboro;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 30px;
}