.container {
    display: flex;
    height:fit-content;
    margin: auto;
    width: 80vw;
    flex-flow: row wrap;
    justify-content: center;
}

.numbox {
    flex-basis: 100%;
}

.countrynum {
}

.answerbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    gap: 10px 20px;
    padding: 10px;
}